# SSH config for PKI demo# Package generated configuration file

Port 2222
Protocol 2
HostKey /etc/ssh/host_key
HostCertificate /etc/ssh/host_key-cert.pub
UsePrivilegeSeparation no
PermitRootLogin yes
TrustedUserCAKeys /etc/ssh/ca.pub

PubkeyAuthentication yes
